<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Color -->
    <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
    </material>
    <material name="grey">
        <color rgba="0.5 0.5 0.5 1.0"/>
    </material>

    <!-- Inertial -->
    <xacro:macro name="inertia_box" params="m l w h xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <inertia ixx="${(m/12)*(w*w + h*h)}" ixy="0" ixz="0"
                iyy="${(m/12)*(l*l + h*h)}" iyz="0"
                izz="${(m/12)*(l*l+ w*w)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="inertia_cylinder" params="m r h xyz rpy">
        <inertial>
            <origin xzy="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <inertia ixx="${(m/12)*(3*r*r + h*h)}" ixy="0" ixz="0"
                iyy="${(m/12)*(3*r*r + h*h)}" iyz="0"
                izz="${(m/2)*(r*r)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="inertia_sphere" params="r m xyz rpy">
        <inertial>
            <origin xzy="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <inertia ixx="${(2/5)*(m * r * r)}" ixy="0" ixz="0"
                iyy="${(2/5)*(m * r * r)}" iyz="0"
                izz="${(2/5)*(m * r * r)}" />
        </inertial>
    </xacro:macro>

</robot>